.carContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  flex-grow: 1;
  margin-top: -8vh;
}

.carImg {
  height: 75vh;
  object-fit: contain;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 4/3) {
  .carContainer {
    margin-top: -5vh;
    height: 60vh;
  }

  .carImg {
    transform: rotate(90deg);
    height: 90dvh;
  }
}